# https://clang.llvm.org/extra/clang-tidy/

Checks: "-*, modernize-*, -modernize-use-trailing-return-type, performance-*, readability-*, -readability-identifier-length, cppcoreguidelines-*, concurrency-*, clang-analyzer-*, bugprone-*, misc-*, hicpp-*"

WarningsAsErrors: "*, -clang-diagnostic-builtin-macro-redefined"

HeaderFilterRegex: '.*'
# ExcludeHeaderFilterRegex: '.*mmintrin.*'
SystemHeaders: False
